:root {
  --main-bg-color: #76c9b7 !important;
  --main-text-dark : rgb(61, 60, 60) !important;
  --main-text-light: white !important;
  --main-text-medium:rgb(3, 75, 32) !important;
  --main-text-pale: rgb(121, 142, 170) !important;
 }
 @font-face {
   font-family: "Roboto-slabs" !important;
   font-weight: 400 !important;
   font-style: normal !important;
   src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype") !important;
 }
  
 body {
   font-family: 'Calibri', sans-serif !important;
   color: #545E6C !important;
   background: #f5f5f5 !important;
   background-image: url("../images/office-space.jpg") !important;
   background-repeat: no-repeat !important;
   background-size: cover !important;
   background-attachment: fixed !important;
   font-size: 16px !important;
   font-weight: 500 !important;
   padding: 30px !important;
   -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
   -webkit-print-color-adjust: exact !important;
    
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: 700 !important;
 }
 a {
   color: #2d7788 !important;
   -webkit-transition: all 0.4s ease-in-out !important;
   -moz-transition: all 0.4s ease-in-out !important;
   -ms-transition: all 0.4s ease-in-out !important;
   -o-transition: all 0.4s ease-in-out !important;
 }
 
 
 a:hover {
   text-decoration: underline !important;
   color: #1a454f !important;
 }
 a:focus {
   text-decoration: none !important;
 }
 p {
   line-height: 1.5 !important;
 }
 .wrapper {
   background: #42A8C0 !important;
   max-width: 960px !important;
   
   margin: 0 auto !important;
   position: relative !important;
   box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.4) !important;
 }
 .wrapper .buttons-wrapper{
   position: absolute !important;
   right: 20px !important;
   top: 20px !important;
   z-index: 1 !important;
 }
 .wrapper .buttons-wrapper .button  {
   display: inline-block !important;
   padding: 5px !important;
   z-index: 10 !important;
   
 }
  
 .wrapper .buttons-wrapper  .fa {
  display: inline-block !important;
  width: 30px !important;
  height: 30px !important;
  margin-right: 8px !important;
  cursor: pointer !important;
  color: #fff !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  background: #2d7788 !important;
  text-align: center !important;
  padding-top: 8px !important;
  font-size: 16px !important;
  position: relative !important;
  top: -2px !important;
  transition: all ease-in-out 0.1s !important;
 }
 .wrapper .buttons-wrapper  .fa:hover{
   box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2) !important;
 }
 .sidebar-wrapper {
   background: rgb(63,185,169) !important;
   background: radial-gradient(circle,rgb(104, 175, 160) 0%, rgb(104, 177, 161) 46%,	rgb(104, 177, 161) 100%) !important;
   position: absolute !important;
   left: 0 !important;
   width: 280px !important;
   height: 100% !important;
   min-height: 800px !important;
   color: #fff !important;
 }
 .sidebar-wrapper a {
   color: #fff !important;
 }
 .sidebar-wrapper .profile-container {
   padding: 20px !important;
   padding-bottom: 5px !important;
   /* background: rgba(0, 0, 0, 0.2) !important; */
   text-align: center !important;
   color: #fff !important;
 }
 .sidebar-wrapper .profile-image {
   width:65%  !important;
   border-radius: 50% 50% !important;
   background-color: darkcyan !important;
   background: radial-gradient(ellipse at top ,rgb(160, 189, 184) 0%, rgb(193, 179, 197) 46%,	rgb(191, 194, 236) 100%) !important;
   border: var(--main-text-medium) 3px solid !important;
   margin-bottom: 10px !important;
 }
 .sidebar-wrapper .name {
   font-size: 32px !important;
   font-weight: 900 !important;
   margin-top: 0 !important;
   margin-bottom: 10px !important;
 }
 .sidebar-wrapper .tagline {
   color: var(--main-text-medium) !important;
   font-size: 18px !important;
   font-weight: 700 !important;
   margin-top: 0 !important;
   margin-bottom: 0 !important;
 }
 .sidebar-wrapper .profile {
   margin-bottom: 15px !important;
 }
 .sidebar-wrapper .contact-list .fa {
   margin-right: 11px !important;
   font-size: 18px !important;
   vertical-align: middle !important;
   color: var(--main-text-light) !important;
 }
 .sidebar-wrapper  .container-block-title .fa {
   margin-right: 8px !important;
   font-size: 18px !important;
   /* vertical-align: middle !important; */
 }
 .sidebar-wrapper .contact-list li {
   
   margin-bottom: 12px !important;
 }
 .sidebar-wrapper .contact-list a {
   color: var(--main-text-dark) !important;
   
 }
 .sidebar-wrapper .contact-list li:last-child {
   margin-bottom: 0 !important;
 }
  
 .sidebar-wrapper .container-block {
   color: var(--main-text-dark) !important;
   padding: 25px !important;
   padding-bottom: 10px !important;
   padding-top: 15px !important;
   
 }
 .sidebar-wrapper .container-block-title {
   text-transform: uppercase !important;
   text-align: center !important;
   font-size: 16px !important;
   font-weight: 700 !important;
   margin-right: 13px !important;
   margin-top: 15px !important;
   margin-bottom: 15px !important;
   color: var(--main-text-light) !important;
 }
 
 .sidebar-wrapper .degree {
   font-size: 14px !important;
   margin-top: 0 !important;
   margin-bottom: 5px !important;
 }
 .sidebar-wrapper .aboutme-container .container-block-title  {
   margin-top: 20px !important;
   }
 .sidebar-wrapper .aboutme-container  {
   line-height: 140% !important;
 }
 .sidebar-wrapper .education-container .item {
   margin-bottom: 15px !important;
 }
 .sidebar-wrapper .education-container .item:last-child {
   margin-bottom: 0 !important;
 }
 .sidebar-wrapper .education-container .meta {
   color: var(--main-text-medium) !important;
   font-weight: 500 !important;
   margin-bottom: 0px !important;
   margin-top: 0 !important;
 }
 .sidebar-wrapper .education-container .time {
   color: var(--main-text-medium) !important;
   font-weight: 500 !important;
   margin-bottom: 0px !important;
 }
 .sidebar-wrapper .languages-container .lang-desc {
   color: var(--main-text-medium) !important;
 }
 .sidebar-wrapper .languages-list {
   margin-bottom: 0 !important;
 }
 .sidebar-wrapper .languages-list li {
   margin-bottom: 10px !important;
 }
 .sidebar-wrapper .languages-list li:last-child {
   margin-bottom: 0 !important;
 }
 .sidebar-wrapper .interests-list {
   margin-bottom: 0 !important;
 }
 .sidebar-wrapper .interests-list li {
   margin-bottom: 10px !important;
 }
 .sidebar-wrapper .interests-list li:last-child {
   margin-bottom: 0 !important;
 }
 .main-wrapper {
   background: #fff !important;
   background: radial-gradient(circle,rgb(241, 252, 249) 0%, rgb(213, 228, 220) 46%,	rgb(221, 240, 236) 100%) !important;
   padding: 60px !important;
   padding-left: 300px !important;
   padding-top: 30px !important;
   padding-bottom: 20px !important;
   min-height:  296mm !important;
 }
 .main-wrapper .section-title {
   text-transform: uppercase !important;
   font-size: 20px !important;
   font-weight: 500 !important;
   color: #2d7788 !important;
   position: relative !important;
   margin-top: 0 !important;
   margin-bottom: 15px !important;
 }
 .main-wrapper .section-title .fa {
   width: 30px !important;
   height: 30px !important;
   margin-right: 8px !important;
   display: inline-block !important;
   color: #fff !important;
   -webkit-border-radius: 50% !important;
   -moz-border-radius: 50% !important;
   -ms-border-radius: 50% !important;
   -o-border-radius: 50% !important;
   border-radius: 50% !important;
   -moz-background-clip: padding !important;
   -webkit-background-clip: padding-box !important;
   background-clip: padding-box !important;
   background: #2d7788 !important;
   text-align: center !important;
   padding-top: 8px !important;
   font-size: 16px !important;
   position: relative !important;
   top: -2px !important;
 }
 .main-wrapper .section {
   margin-bottom: 30px !important;
 }
 .main-wrapper .experiences-section .item {
   margin-bottom: 25px !important;
 }
 .main-wrapper .upper-row {
   position: relative !important;
   overflow: hidden !important;
   margin-bottom: 2px !important;
 }
 .main-wrapper .job-main-title {
   color: #3F4650 !important;
   font-size: 18px !important;
   margin-top: 0 !important;
   margin-bottom: 5px !important;
   font-weight: 500 !important;
 }
 
 .main-wrapper .time {
   position: absolute !important;
   right: 0 !important;
   top: -2px !important;
   color:var(--main-text-pale) !important;
 }
 .main-wrapper .company {
   margin-bottom: 10px !important;
   color:var(--main-text-pale) !important;
 }
 .main-wrapper .project-title {
   font-size: 16px !important;
   font-weight: 400 !important;
   margin-top: 0 !important;
   margin-bottom: 5px !important;
 }
 .main-wrapper .technology-title {
   font-size: 16px !important;
   font-weight: bold !important;
   margin-top: 0 !important;
   margin-bottom: 5px !important;
 }
 .main-wrapper .job-title {
   font-size: 16px !important;
   font-weight: bold !important;
   margin-top: 0 !important;
   margin-bottom: 5px !important;
 }
 .main-wrapper .projects-section .intro {
   margin-bottom: 30px !important;
 }
 .main-wrapper .projects-section .item {
   margin-bottom: 15px !important;
 }
 .skillset .item {
   margin-bottom: 15px !important;
   overflow: hidden !important;
 }
 .skillset .level-title {
   font-size: 14px !important;
   margin-top: 0 !important;
   margin-bottom: 12px !important;
 }
 .skillset .level-bar {
   height: 12px !important;
   background: #f5f5f5 !important;
 }
 .skillset .level-bar-inner {
   height: 12px !important;
   background: #7bc2d3 !important;
 }
 .footer {
   padding: 30px !important;
   padding-top: 60px !important;
 }
 .footer .copyright {
   line-height: 1.6 !important;
   color: #545E6C !important;
   font-size: 13px !important;
 }
 .footer .fa-heart {
   color: #fb866a !important;
 }
 /* Extra small devices (phones, less than 768px) */
  
 
 @page {
   margin:0   !important;      
 }
