/*body {*/
/*    margin: 0 !important;*/
/*    padding: 0 !important;*/
/*    font-size: 13px !important;*/
/*}*/

/*.sidebar-wrapper .profile-image {*/
/*    float: none !important;*/
/*    width: 100px !important;*/
/*}*/

/*footer {*/
/*    display: none !important;*/
/*}*/

/*a[href]:after {*/
/*    display: none !important;*/
/*    visibility: hidden !important;*/
/*}*/

/*.fa:before {*/
/*    !* color: white !important; *!*/
/*    color: white !important;*/
/*}*/
