:root {
 --main-bg-color: #76c9b7;
 --main-text-dark : rgb(61, 60, 60);
 --main-text-light: white;
 --main-text-medium:rgb(3, 75, 32);
}
@font-face {
  font-family: "Roboto-slabs";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
}
 
body {
  font-family: 'Calibri', sans-serif;
  color: #545E6C;
  background: #f5f5f5;
  background-image: url("../images/office-space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  font-weight: 500;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-print-color-adjust: exact !important;
   
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  color: #2d7788;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}


a:hover {
  text-decoration: underline;
  color: #1a454f;
}
a:focus {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
.wrapper {
  background: #42A8C0;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.4);
}
.wrapper .buttons-wrapper{
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}
.wrapper .buttons-wrapper .button  {
  display: inline-block;
  padding: 5px;
  z-index: 10;
  
}
 
.wrapper .buttons-wrapper  .fa {
 display: inline-block;
 width: 30px;
 height: 30px;
 margin-right: 8px;
 cursor: pointer;
 color: #fff;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 border-radius: 50%;
 -moz-background-clip: padding;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
 background: #2d7788;
 text-align: center;
 padding-top: 8px;
 font-size: 16px;
 position: relative;
 top: -2px;
 transition: all ease-in-out 0.1s;
}
.wrapper .buttons-wrapper  .fa:hover{
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.sidebar-wrapper {
  background: rgb(63,185,169);
  background: radial-gradient(circle,rgb(104, 175, 160) 0%, rgb(104, 177, 161) 46%,	rgb(104, 177, 161) 100%);
  position: absolute;
  left: 0;
  width: 280px;
  height: 100%;
  min-height: 800px;
  color: #fff;
}
.sidebar-wrapper a {
  color: #fff;
}
.sidebar-wrapper .profile-container {
  padding: 20px;
  padding-bottom: 5px;
  /* background: rgba(0, 0, 0, 0.2); */
  text-align: center;
  color: #fff;
}
.sidebar-wrapper .profile-image {
  width:65% ;
  border-radius: 50% 50%;
  background-color: darkcyan;
  background: radial-gradient(ellipse at top ,rgb(160, 189, 184) 0%, rgb(193, 179, 197) 46%,	rgb(191, 194, 236) 100%);
  border: var(--main-text-medium) 3px solid;
  margin-bottom: 10px;
}
.sidebar-wrapper .name {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}
.sidebar-wrapper .tagline {
  color: var(--main-text-medium);
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar-wrapper .profile {
  margin-bottom: 15px;
}
.sidebar-wrapper .contact-list .fa {
  margin-right: 11px;
  font-size: 18px;
  vertical-align: middle;
  color: var(--main-text-light);
}
.sidebar-wrapper  .container-block-title .fa {
  margin-right: 8px;
  font-size: 18px;
  /* vertical-align: middle; */
}
.sidebar-wrapper .contact-list li {
  
  margin-bottom: 15px;
}
.sidebar-wrapper .contact-list a {
  color: var(--main-text-dark);
  
}
.sidebar-wrapper .contact-list li:last-child {
  margin-bottom: 0;
}
.sidebar-wrapper .contact-list .email .fa {
  font-size: 14px;
}
.sidebar-wrapper .container-block {
  color: var(--main-text-dark);
  padding: 25px;
  padding-bottom: 10px;
  padding-bottom: 10px;
}
.sidebar-wrapper .container-block-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--main-text-light);
}
.sidebar-wrapper .degree {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}
.sidebar-wrapper .education-container .item {
  margin-bottom: 15px;
}
.sidebar-wrapper .education-container .item:last-child {
  margin-bottom: 0;
}
.sidebar-wrapper .education-container .meta {
  color: var(--main-text-medium);
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0;
}
.sidebar-wrapper .education-container .time {
  color: var(--main-text-medium);
  font-weight: 500;
  margin-bottom: 0px;
}
.sidebar-wrapper .languages-container .lang-desc {
  color: var(--main-text-medium);
}
.sidebar-wrapper .languages-list {
  margin-bottom: 0;
}
.sidebar-wrapper .languages-list li {
  margin-bottom: 10px;
}
.sidebar-wrapper .languages-list li:last-child {
  margin-bottom: 0;
}
.sidebar-wrapper .interests-list {
  margin-bottom: 0;
}
.sidebar-wrapper .interests-list li {
  margin-bottom: 10px;
}
.sidebar-wrapper .interests-list li:last-child {
  margin-bottom: 0;
}
.main-wrapper {
  background: #fff;
  background: radial-gradient(circle,rgb(241, 252, 249) 0%, rgb(213, 228, 220) 46%,	rgb(221, 240, 236) 100%);
  padding: 60px;
  padding-left: 300px;
  padding-top: 30px;
}
.main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #2d7788;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}
.main-wrapper .section-title .fa {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #2d7788;
  text-align: center;
  padding-top: 8px;
  font-size: 16px;
  position: relative;
  top: -2px;
}
.main-wrapper .section {
  margin-bottom: 30px;
}
.main-wrapper .experiences-section .item {
  margin-bottom: 25px;
}
.main-wrapper .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}
.main-wrapper .job-main-title {
  color: #3F4650;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.main-wrapper .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97AAC3;
}
.main-wrapper .company {
  margin-bottom: 10px;
  color: #97AAC3;
}
.main-wrapper .project-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5px;
}
.main-wrapper .technology-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}
.main-wrapper .job-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}
.main-wrapper .projects-section .intro {
  margin-bottom: 30px;
}
.main-wrapper .projects-section .item {
  margin-bottom: 15px;
}
.skillset .item {
  margin-bottom: 15px;
  overflow: hidden;
}
.skillset .level-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}
.skillset .level-bar {
  height: 12px;
  background: #f5f5f5;
}
.skillset .level-bar-inner {
  height: 12px;
  background: #7bc2d3;
}
.footer {
  padding: 30px;
  padding-top: 60px;
}
.footer .copyright {
  line-height: 1.6;
  color: #545E6C;
  font-size: 13px;
}
.footer .fa-heart {
  color: #fb866a;
}
/* Extra small devices (phones, less than 768px) */
 

@page {
  margin:0  ;      
}